html {
    overflow-y: scroll; 
}

#HQHead {
//  background-color: darkblue;
}

.gap-left {
    margin-left: 10px;
}

.wyhd_ {
	font-family: 'Copse',  serif;
//  color: white;
//  position: relative;
//  top: 50%;
//  transform: translateY(50%);
}

.f-block {
	font-family: 'Georgia', serif;
}

.firstchar {
	float: left;
	color: #903;
	font-size: 75px;
	line-height: 60px;
	padding-top: 4px;
	padding-right: 8px;
	padding-left: 3px;
	font-family: Georgia;
}
